<div class="challenges-header">
	Предизвикателства
</div>

{{#each challengesWithProgress}}
<div class="challenges-container">
	<div class="challenge-card">
		<div class="challenge-card-header">
			<span class="badge">{{status}}</span>
		</div>
		<div class="challenge-card-body">
			<h3>{{title}}</h3>
			<div class="challenge-info">
				<div class="challenge-reward">
					Награда: {{reward}}
				</div>
				<div class="challenge-points">
					{{points}} точки
				</div>
			</div>
			<div class="challenge-description">
				{{description}}
			</div>
			<div class="challenge-progress">
				<div class="progress-bar" style="width: {{progressPercent}}%;"></div>
			</div>
			<div class="progress-text">{{userProgress}}/5 пътувания</div>
			{{#if userCompleted}}
			<h6 class="btn btn-primary" disabled>Завършено!</h6>
			{{else}}
			{{#if isEnroll}}
			<h6 class="btn btn-primary" disabled>В прогрес</h6>
			{{else}}
			<a href="/user-challenges/enroll/:challengeId" class="btn btn-primary">Започни</a>
			{{/if}}
			{{/if}}
		</div>
	</div>
</div>
{{/each}}