<div class="challenges-header">
	Предизвикателства
</div>

<div class="challenges-container">
	{{#each challengesWithProgress}}
	<div class="challenge-card">
		<div class="challenge-card-header">
			<span class="badge">{{status}}</span>
		</div>
		<div class="challenge-card-body">
			<h3>{{title}}</h3>
			<div class="challenge-info">
				<div class="challenge-reward">
					Награда: {{reward}}
				</div>
				<div class="challenge-points">
					+{{points}} точки
				</div>
			</div>
			<div class="challenge-description">
				{{description}}
			</div>
			<div class="challenge-progress">
				<div class="progress-bar" style="width: {{progressPercent}}%;"></div>
			</div>
			<div class="progress-text">{{userProgress}}/{{target}}</div>
			{{#if userCompleted}}
			<h6 class="btn btn-primary" disabled>Завършено!</h6>
			{{else}}
			{{#if isEnroll}}
			<h6 class="btn btn-primary" disabled>В прогрес</h6>
			{{else}}
			{{#if hasStarted}}
			<a href="/roads/user-challenges/enroll/{{_id}}" class="btn btn-primary">Започни</a>
			{{else}}
			<h6 class="btn btn-secondary" disabled>Очаква се</h6>
			{{/if}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	{{/each}}
</div>