<div class="container">
    <h1 style="text-align: center;">Потребители:</h1>
    <div class="users-grid">

        {{#if users}}
        {{#each users}}
        <div class="user-card">
            <div class="user-image">
                <img src="{{profilePicture}}" alt="name">
            </div>
            <div class="user-name">{{firstName}} {{lastName}}</div>
            <a href="/users/profile/{{email}}" class="profile-link">Виж профил</a>
        </div>
        {{/each}}
        {{else}}

        {{/if}}


    </div>
</div>